/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */


.navbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #DDD;
}
.navbar > .content {
    margin: 0 auto;
    width: 60rem;
    height: 4.375rem;
    padding-left: 1rem;
}
.navbar > .logo {
    height: 4.375rem;
}
.navbar .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
    word-spacing: 0.1rem;
}
.navbar .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.darkertext {
	color: #4c5058;
	font-weight: 500;
}

.navbar .links .active {
    color: #4c5058;
    font-weight: 500;
}

.navbar .links li:hover {
    cursor: pointer;
    color: #333333;
}

.intro {
    background-image: url("../images/first-background.jpg");
    height: 45.938rem;
    overflow: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	-webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    text-align: center;
}

.intro > .content {
	margin: 0 auto;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.intro > .content h1 {
    margin-top: 17.5rem;
	font-size: 3.125rem;
	font-weight: 300;
}

.intro > .content h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: 200;
}

.intro .content .button {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

.intro .content .big-button{    
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    /*line-height: 1.33;*/
    background-color: #f15a29;
    border-color: #f15a29;;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0em;
}

.intro .big-button:hover {
    cursor: pointer;
    background-color: #d85124;
}

.cases {
    padding-bottom: 5rem;
    background-color: white;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.cases .content h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices > li {
    
    float: left;
    width: 33.33333%
}

.cases .devices h3 {
    
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 1rem 1.875rem;
}

.social {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: ;
    padding-bottom: 9.375rem;
    
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 8rem;
}

.social h3 {
    font-weight: 400;
}
.social .content li{
    display: inline-block;
    border-radius: 1.25rem;
    border: 1px solid #eaebec;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.25rem 5px;
    padding: 0.625rem 0;
}

.social .content li:hover{
    cursor: pointer;
}

.social .content .twitter {
    color: #55acee;
}
.social .content .facebook {
    color: #4c66a4;
}
.social .content .instagram {
    color: #3f729b;
}

.social .copy h2 {
    font-size: 0.9rem;
    font-weight: 100;
    color: #838994;
    margin-bottom: 5rem;
    
}